mat-sort-header-container {
  align-items: center;
}
#tablePurchase{
  width: 100%;
}
#created{
  color: darkblue;
  font-weight: bold;
}
#rejected{
  color: darkred;
  font-weight: bold;
}
#payed{
  color: yellowgreen;
  font-weight: bold;
}
#aproved{
  color: darkgreen;
  font-weight: bold;
}
